
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: auto;

}

 h1{

  position: relative;
  top:3em;
  left:6em;
  color: yellow;
  font-size: 5em;
}
a{
  position: fixed;
  top: 25em;
  left: 38em;
  background-color: yellow;
  color: green;
}
